#pageContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%
}

#imgIEEELogo {
	margin-bottom: 2vh;
	width: 50vw;
}

svg {
	width: 25vw;
}

@keyframes meneo {
	0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

@keyframes rotacion1 {
	0% { transform: rotate(0deg) translate(50px, 90px); }
	100% { transform: rotate(360deg) translate(50px, 90px); }
}

@keyframes rotacion2 {
	0% { transform: rotate(0deg) translate(150px, 90px); }
	100% { transform: rotate(360deg) translate(150px, 90px); }
}

.sup_coche {
	animation: meneo 0.5s ease-in-out infinite;
}

.rueda_coche1 {
	animation: rotacion1 0.75s linear infinite;
	transform-origin: 50px 90px;
}

.rueda_coche2 {
	animation: rotacion2 0.75s linear infinite;
	transform-origin: 150px 90px;
}
