.content {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.vr {
	margin-left: 5px;
	margin-right: 5px;
}

.contentparticipantes {
	width: 15vw;
	height: 100%;
	margin-left: 10px;
}

#listaparticipantes {
	list-style-type: none;
}

#listaparticipantes li {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#herramientascoche div {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

#herramientascoche label {
	white-space: nowrap;
	margin-right: 10px;
}

.form-range {
	width: 100%;
}


button {
	position: absolute;
	top: 80vh;
}
